

html, body {
  height: 100.1%;
  font-size: calc(1em + 1vw);
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  /* Hide scrollbars */
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
  font-family: "Avenir Next", "Avenir", "Nunito Sans", sans-serif;
}

canvas {
  display: block;
}

.topnav {
  overflow: hidden;
  position: absolute;
  top: 0.5rem;
  width: 95%;
}

.topnav #myLinks {
  display: none;
}

.topnav #FScreen {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  margin-left: 1em;
  padding:  .4em;
  text-decoration: none;
}

.topnav a.icon {
  float: right;
  visibility: visible;
}

.topnav a:hover {
  background-color: white;
  color: black;
  opacity: 0.3;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.content  {
  position: absolute;
  overflow-y: auto;
  center: 0;
  width: 80%;
  height:70%;
  padding: 1rem;
}

.content .fa {
  float: right;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.content .fa:hover {
  opacity: 0.8;
}

/* Set a specific color for each brand */
/* Instagram */
.content .fa-instagram {
  background: transparent;
  color: black;
}

.content #myInfo {
  display: none;
  background:none;
  overflow-y: auto;
  padding: 1rem;
  color: black;
}

.animated {
  position: absolute;
  text-align: center;
  color: white;
  center: 0;
  padding: 20px;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
}

@media (hover: none) {
  .topnav a:hover {
    background-color: transparent;
    opacity: 1.0;
  }

  .content {
    -webkit-overflow-scrolling: touch;
  }
}

/* @media only screen and (max-width: 600px) and (orientation: portrait) {
  .topnav a {
    font-size: 6vw;
  }

  .content {
    font-size: 5vw;
  }

  .animated {
    font-size: 5vw;
  }

  .content .fa-instagram {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 1920px) {
  .topnav a {
    font-size: 3.5vw;
  }

  .content {
    font-size: 2.5vw;
  }

  .animated {
    font-size: 3.5vw;
  }

  .content .fa-instagram {
    font-size: 3.5vw;
  }
} */


.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
